/* About Top Content */

.desktop-about-img1 {
    width: 100%;
    filter: brightness(75%);
}

.mobile-about-img1 {
    display: none;
}

.about-header-content {
    position: absolute;
    top: 32%;
    left: 26%;
    right: 27%;
    text-align:left;

}

.main-page-subtitle {
    margin-top: 42px;
    margin-bottom: 40px;
}

.youtube-video{
    width: 640px;
    height: 360px;
}

.youtube-video-container{
    text-align: center;
}

/* About content part 1 */

.about-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.desktop-about-img2 {
    width: 45%;

}

.mobile-about-img2 {
    display: none;
}

.about-content {
    background-color: #F0F0F0;
    padding: 10% 6%;

}

.blue-line-part1 {
    width: 80%;
}

/* About content part 2 */


.about-part2-container{
    margin: 2% 6%;
    border: 1px solid #296BEB;
    padding: 2%;
}
.blue-line-part2{
    width: 34%;
    margin-left: 33%;
}

/* About content part 3 */
.about-part3-container{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2%;
}
.desktop-about-img3{
    width: 45%;
}

.mobile-about-img3{
display: none;
}

.blue-line-part3{
    width: 76%;
}


/* Extra small devices: phones */
@media (max-width: 480px) {
    .desktop-about-img1{
        display: none;
    }

    .mobile-about-img1 {
        display: block;
        width: 100%;
        filter: brightness(75%);
    }
    .about-header-content{
        position: absolute;
        top: 10%;
        left: 22%;
        right: 6%;
    }

    .youtube-video{
        width: 320px;
        height: 180px;
    }

    .about-container{
        display: block;
    }

    .desktop-about-img2{
        display: none;
    }
    .mobile-about-img2{
        display: block;
        width: 100%;
    }

    .about-part2-container {
        margin: 6% 8%;
     }

     .about-part3-container{
        display: block;
     }

     .desktop-about-img3{
        display: none;
     }


     .mobile-about-img3{
        display: block;
        width: 100%;
     }
     .about-content {
        padding: 6% 8%;
    }

    .blue-line-part1 {
        width: 68%;
    }

    .blue-line-part2 {
        width: 76%;
        margin-left: 12%;
    }

    .blue-line-part3 {
        width: 66%;
    }

}