/* Main Page Top Content */

.desktop-courses-img1 {
    width: 100%;
}

.mobile-courses-img1 {
    display: none;
}

.courses-page-content {
    position: absolute;
    top: 25%;
    left: 50%;
    right: 5%;
    text-align: right;

}

.courses-page-subtitle {
    margin-top: 42px;
    margin-bottom: 40px;
}

/* Courses part 1: Groupes */

.groupe-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}

.desktop-courses-img2 {
    width: 55%;

}

.mobile-courses-img2 {
    display: none;
}

.course-content {
    background-color: #F0F0F0;
    padding: 2% 4%;

}

.blue-line-courses1 {
    width: 75%;
}

.contact-button1 {
    margin: 4% 0 4% 65%;
}

.groupe-list {
    list-style-type: none;
    padding: 0;
}

/* Courses part 2: individual and business */

.desktop-courses-img3 {
    width: 55%;

}

.mobile-courses-img3 {
    display: none;
}

.individual-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
}

.blue-line-courses2 {
    width: 82%;
}

.business-title {
    text-align: right;
}

.blue-line-courses3 {
    width: 72%;
    margin-left: 28%;
}

/* courses part 3: exams */

.exam-container {
    display: flex;
    flex-direction: row;
}

.desktop-courses-img4 {
    width: 50%;
}

.mobile-courses-img4 {
    display: none;
}

.blue-line-courses4 {

    width: 70%;

}

.contact-button2 {
    margin: 4% 0 4% 69%;
}

/* Methods */


.method-container {
    margin: 2% 6%;
    border: 1px solid #296BEB;
    padding: 2%;
}

.blue-line-courses5 {
    width: 84%;
    margin-left: 8%;
}

/* Extra small devices: phones */
@media (max-width: 480px) {

    .desktop-courses-img1 {
        display: none;
    }

    .mobile-courses-img1 {
        display: block;
        width: 100%;
        
    }

    .courses-page-content {
        position: absolute;
        top: 10%;
        left: 18%;
        right: 5%;
        text-align: right;
    }

    .groupe-container {
        display: block;
    }

    .desktop-courses-img2 {
        display: none;
    }

    .mobile-courses-img2 {
        display: block;
        width: 100%;
    }

    .individual-container {
        display: block;
    }

    .desktop-courses-img3 {
        display: none;
    }

    .mobile-courses-img3 {
        display: block;
        width: 100%;
    }

    .exam-container {
        display: block;
    }

    .desktop-courses-img4 {
        display: none;
    }

    .mobile-courses-img4 {
        display: block;
        width: 100%;
    }

    .course-content {
        padding: 6% 8%;
    }

    .contact-button1 {
        margin: 4% 0 4% 64%;
    }

    .contact-button2 {
        margin: 4% 0 4% 64%;
    }

    .blue-line-courses1 {
        width: 72%;
    }

    .blue-line-courses2 {
        width: 79%;
    }
    .blue-line-courses3 {
        width: 69%;
        margin-left: 31%;
    }
    .blue-line-courses4 {
        width: 74%;
    }

}