/* Main Page Top Content */

.desktop-main-page-img {
    width: 100%;
    filter: brightness(75%);
}

.mobile-main-page-img {
    display: none;
}

.main-page-content {
    position: absolute;
    top: 25%;
    left: 46%;
    text-align: center;

}

.main-page-subtitle {
    margin-top: 42px;
    margin-bottom: 40px;
}

/* About me */

.about-container {
    margin-top: 2%;
    display: flex;
    flex-direction: row-reverse;
}

.desktop-my-photo1 {
    width: 45%;

}

.mobile-my-photo1 {
    display: none;
}

.about-content {
    background-color: #F0F0F0;
    padding: 10% 6%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blue-line-about {
    width: 62%;
}

/* Courses Cards */

.mobile-cards-container {
    display: none;
}

.desktop-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4% 1% 4%;
}

.card {
    width: 23%;
    background-color: #F0F0F0;
    border-radius: 15px;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.25);

}

.card-image {
    width: 100%;
}

.card-title {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

.blue-line-card {
    width: 82%;
    height: 1px;
    background-color: #296BEB;
}

.card-content {

    padding: 0 12% 6% 12%;

}

.card-text-style {
    color: #272727;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: 18px;
}

.card-icon-style {
    color: #272727;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.card-icon-text-style {
    color: #272727;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 18px;
}

.card-button {
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    background: #296BEB;
    padding: 6px 10px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    margin-left: 48%;
    text-decoration: none;
}

.card-button:hover {
    background-color: #0051EF;
}

.mobile-cards-circles-container {
    display: none;
}



/* OUR GOAL PART */

.desktop-main-page-photo2 {
    width: 48%;
}

.mobile-main-page-photo2 {
    display: none;
}

.ipad-main-page-img2 {
    display: none;
}

.goal-container {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

.goal-content {
    background-color: #F0F0F0;
    padding: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.blue-line-goal {
    width: 72%;
}


/* AVIS */

.desktop-avis{
    display: flex;
    flex-direction: row;
}
.arrow1{
    margin: 15% 2% 0 6%;
    font-size: 30px;
    color: #296BEB;
}

.arrow2{
    margin: 14% 6% 0 2%;
    font-size: 30px;
    color: #296BEB;
}

.arrows-desk{
    border: none;
    background: none;
}

.arrows{
    display: none;
}
.arrows-mob{
    display: none;
}

.mobile-avis-container {
    display: none;
}

.desktop-avis-container {
    background-color: #F0F0F0;
    border-radius: 15px;
    box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 4% 4% 3% 4%;
    margin: 0 0 3% 0;

}

.avis-img {
    width: 100%;
}

.quotes {
    width: 6%;
    height: 100%;
}

.quote2 {
    margin-left: 4%;
    margin-top: 26%;
}

.quote1 {
    margin-right: 4%;
}

.avis-items-container {
    display: flex;
    flex-direction: row;
}

.avis-img-name {
    display: flex;
    flex-direction: column;
    padding: 2% 4% 0 0;
    width: 156%;
}

.avis-name {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.avis-text {
    font-size: 14px;
}

.circles-container {
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 2%;
}

.rond{
    border-radius: 50%;
    border: 1px solid  #296BEB;
    height: 16px;
    width: 16px;
}

.empty{
    background-color: white;
}

.filled{
    background-color: #296BEB;
}

#circles-mobile{
    display: none;
}

/* Extra small devices: phones */
@media (max-width: 480px) {

    /* Main content MOBILE */

    .mobile-menu-container {
        display: block;
    }

    .desktop-main-page-img {
        display: none;
    }

    .mobile-main-page-img {
        display: block;
        width: 100%;
        filter: brightness(75%);
    }

    .main-page-content {
        position: absolute;
        top: 8%;
        left: 25%;
        padding: 0 6%;
    }

    .main-page-subtitle {
        margin: 6% 0;
    }

    .desktop-my-photo1 {
        display: none;
    }

    .mobile-my-photo1 {
        display: block;
        width: 100%;
    }

    .blue-line-about {
        width: 74%;
    }

    .about-container {
        display: flex;
        flex-direction: column;
    }

    .about-content {
        padding: 4% 10%;
    }

    .about-content-header {
        display: flex;
        flex-direction: row;
    }

    .more-button1 {
        margin: 2% 0 2% 68%;
    }

    /* CARDS MOBILE */

    .mobile-card-wrapper{
        display: flex;
    }

    .mobile-cards-container {
        display: block;
        background-color: #F0F0F0;

    }

    .desktop-cards-container {
        display: none;
    }

    .mobile-card-image {
        display: block;
        width: 100%;
    }

    .description-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .blue-line-card {
        width: 100%;
        margin-top: 2%;
    }

    .card-button {
        margin-left: 72%;
    }

    .mobile-cards-circles-container {
        display: block;
        text-align: center;
        margin: 2% 0;
    }

    #circles-mobile{
        display: flex;
    }

    /* Our goal MOBILE */

    .desktop-main-page-photo2 {
        display: none;
    }

    .ipad-main-page-img2 {
        display: none;
    }

    .mobile-main-page-photo2 {
        display: block;
        width: 100%;
    }

    .goal-container {
        display: flex;
        flex-direction: column;
    }

    .goal-content {
        padding: 4% 10%;
    }

    .goal-content-header {
        display: flex;
        flex-direction: row;
    }

    .blue-line-goal {
        width: 88%;
    }

    .book-button1 {
        margin: 4% 0 4% 52%;
    }

    /* Avis MOBILE */

    .desktop-avis {
        display: none;
    }

    .mobile-avis-wrapper{
        display: flex;
        flex-direction: row;
    }

    .mobile-avis-container {
        display: block;
        background-color: #F0F0F0;
        border-radius: unset;
        box-shadow: none;
        padding: 6% 4% 6% 4%;
        margin: 0;
    }

    .photo-text-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .avis-img {
        width: 18%;
    }

    .avis-img-name {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 16px;
    }

    .quote2 {
        margin-top: 136%;
    }

    .quotes {
        width: 10%;
        height: 4%;
    }

    .avis-name {
        font-size: 18px;
        margin-top: 6%;

    }

    .circles-container {
        margin: 2% 0;
    }

    .arrows{
        display: block;
        text-align: center;
    }

    .arrows-mob{
        display: block;
        border: none;
        background: none;
    }

}